@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, input {
    font-family: 'Montserrat';
    color: #182035;
    font-weight: bold;
}

p, a, span, label, h5, h6 {
    font-family: 'Montserrat';
    text-decoration: none;
    color: #182035;
    font-weight: normal;
}

a:focus,
a:active {
    outline: none;
}


.first-screen{
    background: url("../images/top_img.png")no-repeat;
    background-size: 100% 100%;
}

.body{
    background: url("../images/main_bg.jpg")no-repeat;
    background-size: cover;
}


/*--------------header---------------*/

.header{
    background: rgba(0, 0, 0, 0.7);
    padding: 16px 0 19px;
    min-height: 46px;
}

.container-info{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header .container-info,
.header{
    display: flex;
    align-items: center;
}

.btn-contact{
    border: 1px solid #c12088;
    box-sizing: border-box;
    border-radius: 30px;
    width: 130px;
    height: 45px;
    background: transparent;
}

.btn-contact:hover{
    background: rgba(193, 32, 136, 0.2);
    transition: .3s;
}

.btn-contact span{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #FFFFFF;
}

.connect{
    margin-right: 20px;
}

.connect span{
    position: relative;
    padding-right: 16px;
}


.connect span:before{
    content: '';
    position: absolute;
    right: 0;
    width: 8px;
    height: 8px;
    background: url("../images/plus.svg")no-repeat;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
}

.item-link{
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: block;
}

.item-link:hover{
    border: 1px solid rgba(255, 255, 255, 0.7);
    opacity: 0.7;
}

.contact-list{
    display: flex;
}

.item-list{
    margin-right: 4px;
}

.item-list:last-child{
    margin-right: 0;
}

.discord .item-link{
    background: url("../images/discord.svg")no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.twitter .item-link{
    background: url("../images/twitter.svg")no-repeat;
    background-size: 16px 13px;
    background-position: center;
}

.telegram .item-link{
    background: url("../images/telegram.svg")no-repeat;
    background-size: 16px 13px;
    background-position: center;
}

.header-contacts{
    display: flex;
    align-items: center;
}


.container-btn-contacts{
    margin: 0 57px;
}


/*----------first-screen------------*/

.main-title,
.main-title span{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: normal;
    color: #FFFFFF;
    max-width: 505px;
}

.main-title span{
    color: #C12088;
}

.sub-title-main,
.sub-title-main span{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
}

.sub-title-main span{
    font-weight: bold;
}

.sub-title-main {
    margin: 20px 0 49px;
}

.pink-btn{
    background: linear-gradient(270deg, #C12088 0%, #7F0793 96.85%);
    box-shadow: 0px 5px 25px rgba(193, 32, 136, 0.6), inset 0px -1px 0px rgba(0, 0, 0, 0.32);
    border-radius: 30px;
    width: 270px;
    height: 55px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    color: #FFFFFF;
}

.pink-btn:hover{
    background: linear-gradient(270deg, #e226a0 0%, #9509ac 96.85%);
}

.screen-block{
    min-height: 552px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.block-result{
    background: #FFFFFF;
    border-radius: 60px;
    padding: 16px 25px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.block-result:last-child{
    margin-bottom: 0;
}

.result{
    margin-right: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
}

.sub-text-result{
    font-size: 14px;
    width: fit-content;
    max-width: 95px;
}

.pink-text{
    font-weight: bold;
    color: #C12088;
}

.bold-text{
    font-weight: bold;
}

.container-info-screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-screen{
    padding-bottom: 82px;
}

.container-result{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/*--------------calculate block--------*/

.header-section{
    margin-bottom: 62px;
    text-align: center;
}

.title-header{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container-calculate-info{
    padding: 37px 67px 36px 68px;
    background: #FFFFFF;
    border-radius: 30px;
    min-height: 200px;
    max-width: 836px;
    margin: 0 auto;
}

.container-slider{
    position: relative;
    max-width: 600px;
}

.datalist{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.ui-slider .slider-range-inverse{
    width: 100%;
    height: 12px;
    background: rgba(25, 32, 54, 0.1);
    border-radius: 50px;
    position: relative;
}

.ui-slider{
    background: linear-gradient(266.03deg, #C12088 24.24%, #7F0793 68.14%);
    border-radius: 30px;
    height: 12px;
    position: absolute;
    left: 0;
    top: -22px;
    bottom: -20px;
    right: 0;
    border: 1px solid  #e8e9eb;
}

.ui-state-default, .ui-widget-content .ui-state-default{
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    border: 6px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.ui-slider .ui-slider-handle:before{
    content: '';
    position: absolute;
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -6px;
    width: 21px;
    height: 21px;
    border: 1px solid  #BBBBBB;
    border-radius: 100%;
}

.mark{
    position: absolute;
    background: #FFFFFF;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.mark:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -13px;
    border: 8px solid transparent;
    border-top: 8px solid white;
}

.datalist li{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #182035;
    opacity: 0.5;
}

.title-deposit{
    margin-bottom: 56px;
    font-weight: bold;
    font-size: 16px;
}

.ui-slider .slider-range-inverse {
    background: #e8e9eb;
    position: absolute;
    right: 0;
}

.ui-slider .ui-slider-range {
    background: transparent;
}

.amount-field{
    background: #F2F3F4;
    border: 1px solid #C12088;
    box-sizing: border-box;
    border-radius: 10px;
    width: 202px;
    height: 50px;
    padding: 14px 23px 14px 20px;
    position: relative;
    -webkit-user-select: text;
    cursor: auto;
    -webkit-appearance: textfield;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
}

.amount-field:before{
    content: 'Max';
    position: absolute;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    color: #C12088;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.amount-title{
    margin-bottom: 28px;
}

.container-counter{
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    position: relative;
}

.container-counter::after{
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background: linear-gradient(266.61deg, #FFFFFF -1.47%, #C12088 46.7%, #FFFFFF 99.87%);
}

.deposit{
    width: 80%;
}

.ampunt-input{
    max-width: 116px;
    background: transparent;
    border: none;
}

.list-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-info{
    display: flex;
    align-items: center;
}

.footer-counter{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.invest-btn{
    margin: 0 auto;
    margin-top: 46px;
    width: 300px;
}

.title-info{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    margin-right: 8px;
}

.item-info p{
    font-weight: bold;
    font-size: 20px;
}

.item-info p.pink-text span{
    color: #C12088;
    font-weight: bold;
}


/*------------------dashboard-section------------*/

.dashboard-section{
    margin-top: 111px;
}

.container-dashboard-info{
    background: #FFFFFF;
    border-radius: 30px;
    min-height: 200px;
    max-width: 890px;
    margin: 0 auto;
    padding: 42px 43px 39px 38px;
}

.item-dashboard > div{
    background: #FFFFFF;
    border-radius: 9px;
    padding: 14px 21px 18px;
    width: 158px;
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-dashboard{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: linear-gradient(266.03deg, #C12088 24.24%, #7F0793 68.14%);
    border-image: -moz-linear-gradient(266.03deg, #C12088 24.24%, #7F0793 68.14%);
    border-image: -webkit-gradient(266.03deg, #C12088 24.24%, #7F0793 68.14%);
    box-sizing: border-box;
    padding: 1px;
    width: fit-content;
    width: -moz-fit-content;
}

.list-dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 63px;
    position: relative;
}

.title-block-item{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 6px;
}

.info-item{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.list-dashboard::after{
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background: linear-gradient(266.61deg, #FFFFFF -1.47%, #C12088 46.7%, #FFFFFF 99.87%);
}

.withdraw-btn{
    width: 210px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -23px;
}

.container-footer-dashboard{
    padding-top: 8px;
}

.title-footer-dashboard{
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin-bottom: 37px;
}

.title-footer-dashboard span{
    font-weight: bold;
    margin-left: 5px;
}

.list-footer{
    display: flex;
    justify-content: space-between;
}

.item-footer{
    background: #F2F3F4;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: fit-content;
}

.title-level{
    color: #000000;
    opacity: 0.7;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}

.second-level{
    font-size: 14px;
}

.three-level{
    opacity: 0.8;
    font-size: 16px;
}

.item-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 10px 8px;
    max-width: 142px;
    width: 100%;
    height: 42px;
    justify-content: space-between;
}

.fourth-level{
    opacity: 0.9;
    font-size: 18px;
}

.fifth-level{
    opacity: 1;
    font-size: 20px;
}

.info-level{
    font-weight: normal;
    font-size: 10px;
}


